@import url("lato.css");
body {
    margin: 0;
    margin-bottom: 200px;
    font-family: Lato, sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    background-color: #fff
}

html {
    position: relative;
    min-height: 100%;
}

img {
    height: auto;
}

.wiki-block {
    padding-bottom: 60px;
    padding-top: 60px
}

.wiki-block .heading {
    margin-bottom: 50px;
    text-align: center
}

.wiki-block .heading h2 {
    font-weight: 700;
    font-size: 1.4rem;
    text-transform: uppercase
}

.wiki-block .heading p {
    text-align: center;
    max-width: 420px;
    margin: auto;
    opacity: .7
}

.wiki-card {
    box-shadow: 0 2px 10px rgba(0, 0, 0, .075);
    padding: 35px;
    border-top: 4px solid #0ea0ff;
    margin-bottom: 30px
}

.wiki-card h3 {
    font-size: 1.3em;
    margin-bottom: 20px
}

.wiki-card h4 {
    font-size: 1em;
    opacity: .6;
    margin-bottom: 20px
}

@media (min-width:768px) {
    .wiki-block .heading {
        margin-bottom: 80px
    }
    .wiki-block {
        padding-bottom: 100px;
        padding-top: 100px
    }
    .wiki-block .heading h2 {
        font-size: 2rem
    }
    .wiki-block form {
        padding: 50px
    }
}

.btn-outline-primary:hover {
    color: #fff !important;
    background-color: #4d5158;
    border-color: #4d5158;
}

.btn-outline-primary:active {
    color: #fff !important;
    background-color: #4d5158;
    border-color: #4d5158;
}

.btn-outline-primary {
    color: #4d5158 !important;
    border-color: #4d5158;
}

.btn-outline-primary:not(:disabled):not(.disabled).active,
.btn-outline-primary:not(:disabled):not(.disabled):active,
.show>.btn-outline-primary.dropdown-toggle {
    color: #fff !important;
    background-color: #4d5158;
    border-color: #4d5158;
}

.wiki-block {
    padding-top: 50px;
    padding-bottom: 60px;
}

.wiki-block .heading {
    margin-bottom: 35px;
}

.wiki-card img, .content img {
    max-width: 100%;
    max-height: 100%;
}

.wiki-card img, .content ul li {
    line-height: 30px;
}

.wiki-card img, .content audio {
    max-width: 100%;
    max-height: 100%;
}

.wiki-card img, .content video {
    max-width: 100%;
    max-height: 100%;
}

.wiki-card form {
    max-width: 650px;
    padding: 20px;
    margin: auto;
    box-shadow: none;
}

.dropdown {
    margin-top: .5rem;
    margin-bottom: .5rem;
}

.dropdown-item.active,
.dropdown-item:active {
    color: #fff;
    text-decoration: none;
    background-color: #4d5158;
}

.btn-outline-primary {
    background-color: #ffffff80;
}

.section-heading {
    margin-bottom: 30px;
}

.section-heading-spacer {
    float: center;
    width: 200px;
    border-top: 3px solid #e7e7e7;
}

.wiki-card {
    box-shadow: 0 2px 10px rgba(0, 0, 0, .075);
    padding: 35px;
    border-top: 4px solid #4d5158;
    margin-bottom: 30px
}

.wiki-card h3 {
    font-size: 1.3em;
    margin-bottom: 20px
}

.wiki-card h4 {
    font-size: 1em;
    opacity: .6;
    margin-bottom: 20px
}

.wiki-block form {
    max-width: 650px;
    padding: 20px;
    margin: auto;
}

.wiki-card header h1 {
    font-size: 40px;
    font-weight: 300;
    margin-bottom: 15px;
}

#noshadow {
    box-shadow: none;
}

.alert-info {
    color: #000000;
    background: none;
    border-color: #4d5158;
}

a {
    transition: color .25s ease-in;
    color: #4d5158;
}

a:hover {
    color: #4d5158;
    text-decoration: none;

}

.dropdown a:active {
    transition: none;
}

a:hover {
    color: #000000;
}

.form-control:focus {
	color: #495057;
	background-color: #fff;
	border-color: #4d5158;
	outline: 0;
	box-shadow: 0 0 0 .2rem #4d5158a9;
}

.btn-outline-primary.focus, .btn-outline-primary:focus {
	box-shadow: 0 0 0 .2rem #4d5158a9;
}

.btn-outline-primary:not(:disabled):not(.disabled).active:focus, .btn-outline-primary:not(:disabled):not(.disabled):active:focus, .show > .btn-outline-primary.dropdown-toggle:focus {
	box-shadow: 0 0 0 .2rem #4d5158a9;
}

.alert-top {
	font-size: 14px;
    background-color: #4d5158;
    transition: background-color .25s ease-in;
}

@media (max-width:768px) {
    .alert-top {
        font-size: 12px;
        background-color: #4d5158;
        transition: background-color .25s ease-in;
    }
}

.alert-top:hover {
	text-decoration: none;
	background-color: #43464d;
}

.dropdown-menu {
	background-color: rgba(255, 255, 255, 0.842);
}

.dropdown-item:hover {
	background-color: #f8f9fab4;
}

.dropdown-item.active, .dropdown-item:active {
	color: #fff;
	text-decoration: none;
	background-color: #4d5158a9;
}

* {
	scrollbar-color: #4d5158a9 #58595a;
}

*, ::after, ::before {
	box-sizing: border-box;
}

::-webkit-scrollbar {
    width: 12px;
  }
  
::-webkit-scrollbar-track {
    background: #4d5158;
  }
  
::-webkit-scrollbar-thumb {
    background: #4d5158a9;
}

.jumbotron {
	background-color: #e9ecef73;
}